body {
    background: #fff;
}

main {
    background: #fff;
}

/* auth-form */
.auth-form {
    background: #468585;
    width: 500px;
    padding: 30px;
    margin: 50px auto;
}

.auth-form h1 {
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.auth-form .form-group {
    margin-bottom: 15px;
}

.auth-form label {
    color: #fff;
}

.auth-form p,
.auth-form p a {
    color: #fff;
}